<% layout('/layouts/boilerplatecode.ejs') %>
    <div class="row">
        <div class="alert alert-danger mt-5 offset-3 col-6" role="alert">
            <p>
                <%= message %>
            </p>
        </div>
    </div>